@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-arrow slick-prev
.slick-arrow slick-next */
/* Custom styles for slick carousel arrows */
.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  background-color: green; /* Change background color */
  border-radius: 50%; /* Make them circular */
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: red; /* Change arrow color */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* Custom styles for slick carousel dots */
.slick-dots li button:before {
  color: #333; /* Change dot color */
}

.slick-dots li.slick-active button:before {
  color: #fff; /* Change active dot color */
}
