@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-arrow slick-prev
.slick-arrow slick-next */
.slick-dots {
  bottom: 0px !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
  opacity: 0.45 !important;
  color: #fff !important;
}
